
//
// Typo Région Bretagne

// Import the fonts
@font-face {
  font-family: 'Bretagne';
  font-weight: normal;
  src: url('#{$icon-font-path}bretagnepro-reg.eot?embdur');
  src: url('#{$icon-font-path}bretagnepro-reg.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}bretagnepro-reg.woff?embdur') format('woff'),
       url('#{$icon-font-path}bretagnepro-reg.ttf?embdur') format('truetype'),
       url('#{$icon-font-path}bretagnepro-reg.svg') format('svg');
}
@font-face {
font-family: 'Bretagne';
font-weight: bold;
  src: url('#{$icon-font-path}bretagnepro-bold.eot?embdur');
  src: url('#{$icon-font-path}bretagnepro-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}bretagnepro-bold.woff?embdur') format('woff'),
       url('#{$icon-font-path}bretagnepro-bold.ttf?embdur') format('truetype'),
       url('#{$icon-font-path}bretagnepro-bold.svg') format('svg');
}

.text-bretagne {
	font-family: 'Bretagne';
}