.wrap {
	min-height: 80vh;
}
.section {
	padding: 2em 0;
}

.btn, input {
	border-radius: 0;
}

.jumbotron {
	margin-bottom: 0;
	position: relative;
	background: #f0f1f2;

	&:before {
		content: '';
		display: block;
		width: 230px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/5bandes.png) left center no-repeat;
	}

	&:after {
		content: '';
		display: block;
		width: 230px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background: url(../images/5bandes.png) left center no-repeat;
		transform: rotate(180deg);
	}
}

.menu {
	.menu-item {
		@extend .nav-item;
		
		margin-top: 0 !important;

		a {
			display: block;
			@extend .nav-link;
			padding: 0.5em;
			color: $body-color;
			border-bottom: solid 2px rgba(255,255,255,0.5);
			opacity: 0.8;
			
			&:hover, &:focus {
				background: rgba(255,255,255,0.2);
				opacity: 1;
			}

		}

		&:last-child {
			a {
				border-bottom: none;
			}
			
		}

		&.active {
			background: $body-background;
			color: $brand-primary;
			a {
				padding-left: 0.5em;
				font-weight: bold;

			}
		}
	}
}

.rubrique {
	min-height: 300px;
	background: $brand-primary;
	background: radial-gradient(ellipse at center, lighten($brand-primary, 30%) 0%, lighten($brand-primary, 10%) 100%);
	margin: 2em 0;
	padding: 2em;
	border-radius: $border-radius;
	position: relative;

	.col-md-8 {
		padding-bottom: 200px;
	}

	&.se-deplacer {
		background-color: lighten($brand-info, 30%);
		background-image: radial-gradient(ellipse at center, lighten($brand-info, 50%) 0%, lighten($brand-info, 30%) 100%);
		
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 300px;
			position: absolute;
			bottom: 0;
			left: 0;
			//background: url(../images/TER.png) left bottom no-repeat;
		}

	}

	&.bgv {
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 300px;
			position: absolute;
			bottom: 0;
			left: 0;
			//background: url(../images/TGV.png) right bottom no-repeat;
		}

	}

	&.concertation {
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 300px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: url(../images/porte_voix.png) left bottom no-repeat;
		}

	}
}

.contenu {
	img {
		@extend .img-fluid;
		@extend .img-thumbnail;
	} 

	a {
		color: darken($brand-primary, 15%);
		display: inline-block;
		border-bottom: dotted 1px $brand-primary;
		padding: 0.1em 0;

		&:hover, &:focus {
			color: darken($brand-primary, 25%);
			text-decoration: none;
			border-bottom-style: solid;
		}
	}
}

blockquote {
	border-left: 0.2em solid $brand-secondary;
	padding-left: 1em;
	font-style: italic;
	font-size: 1.2em;
}