.wrap {
	min-height: 80vh;
}
.section {
	padding: 2em 0;
}

.menu {
	.menu-item {
		@extend .nav-item;
		
		margin-top: 0 !important;

		a {
			display: block;
			@extend .nav-link;
			padding: 0.5em;
			color: $body-color;
			border-bottom: solid 1px rgba(255,255,255,0.4);
			opacity: 0.8;
			
			&:hover, &:focus {
				background: rgba(255,255,255,0.2);
				opacity: 1;
			}

		}

		&:last-child {
			a {
				border-bottom: none;
			}
			
		}

		&.active {
			background: $body-background;
			color: $brand-primary;
			a {
				padding-left: 0.5em;
				font-weight: bold;

			}
		}
	}
}

.rubrique {
	min-height: 300px;
	background: $brand-primary;
	background: radial-gradient(ellipse at center, lighten($brand-primary, 30%) 0%, lighten($brand-primary, 10%) 100%);
	margin: 2em 0;
	border-radius: $border-radius;

	&.rub1 {
		background: lighten($brand-info, 30%);
		background: radial-gradient(ellipse at center, lighten($brand-info, 50%) 0%, lighten($brand-info, 30%) 100%);

	}

	.home & {
		padding: 1em;
	}
}

.contenu img {
	@extend .img-fluid;
	@extend .img-thumbnail;
}

blockquote {
	border-left: 0.2em solid $brand-secondary;
	padding-left: 1em;
	font-style: italic;
	font-size: 1.2em;
}