// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #9eafda;

$font-family-sans-serif: 'Trebuchet Ms', Arial, sans-serif !default;
$headings-font-family: 'Bretagne', 'Trebuchet Ms', $font-family-sans-serif
