.banner {
	
	margin-bottom: 1em;

	.home & {
		&:after {
			content: '';
			display: block;
			//@include make-container();
	  		//@include make-container-max-widths(); 
			height: 70vh;
			background-image: url(../images/bg-header.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

	}

}
.topbar {
	background: $gray-lightest;
	font-size: 0.9em;
	padding: 0.2em 0;
	position: relative;
	z-index: 200;
	a {
		color: $body-color;
	}
}
.navbar {
	position: relative;
	z-index: 20;
}

.rb {
    padding-left: 50px;
    background: url(../images/navbar-logo.png) left center no-repeat;
    background-size: 40px;
}

.navbar-nav {

	.menu-item {
		@extend .nav-item;
		
		a {
			@extend .nav-link;
		}

		&.active {
			a {
				color: #fff;
			}
		}
	}
}

.menu-bzh {
	a {
		color: $body-color;
	}
}