.banner {
	
	margin-bottom: 1em;
}
.topbar {
	background: $gray-lightest;
	font-size: 0.9em;
	padding: 0.2em 0;
	position: relative;
	z-index: 200;
	a {
		color: $body-color;
	}
}
.navbar {
	position: relative;
	z-index: 20;
}

.rb {
    padding-left: 50px;
    background: url(../images/navbar-logo.png) left center no-repeat;
    background-size: 40px;
}

.navbar-nav {

	li {
		@extend .nav-item;
		
		a {
			@extend .nav-link;
		}

		&.active {
			a {
				color: #fff;
			}
		}

		@include media('<md') {
			float: none;
			margin-left: 1em;
		}
	}
}

.menu-bzh {
	a {
		color: $body-color;
	}
}